body {
    max-width: 1440px;
    font-family: 'Aleo', serif;
}
.redhat {
    font-family: 'Red Hat Text', sans-serif;
}
h2 {
    color: #F2785C;
    font-size: 40px;
    font-weight: 500;
}
.button {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: none;
    background-color: #0D606F;
    width: 103px;
    text-align: center;
    padding:  10px 0;
    border-radius: 10px;
    border: 1px solid #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    transition: 0.3s;
}
.button:hover {
    color: #0D606F;
    border: 1px solid #0D606F;
    background-color: #fff;
}

/* PAGE-HEADER */

.bg-header {
    background-color: rgba(242, 120, 92, 0.7);
    max-width: 100%;
    height: 90px;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.box-header {
    display: flex;
    max-width: 1220px;
    margin: 0 120px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}
.logo {
    display: block;
    background-image: url(../img/1_page-header/logo.png);
    width: 216px;
    height: 31px;
    margin: 25px 0 34px;
}
.nav {
    list-style-type: none;
    margin: 35px 0 34px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.nav>li {
    padding: 0 41px 0 2px;
}
.nav-item {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration-line: none;
}
/* PAGE-START */
/* PAGE-STEPS */
/* PAGE-DESTINATIONS */
/* PAGE-STORIES */
/* PAGE-FOOTER */

/* PAGES */

.page-header {
    background-image: url(../img/2_page-start/garrett-parker-DlkF4-dbCOU-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0 0 536px 0;
}
.page-stories-bg {
    background-image: url(../img/5_page-stories/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* padding: 55px 0 330px 0; */
}