body {
    max-width: 1440px;
    font-family: 'Aleo', serif;
}
.redhat {
    font-family: 'Red Hat Text', sans-serif;
}
.h2 {
    display: block;
    text-align: center;
    color: #F2785C;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 52.92px;
}
.button, .button-preview, .button-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration-line: none;
    background-color: #0D606F;
    padding:  10px 30px;
    border-radius: 10px;
    border: 1px solid #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    transition: 0.3s;
}
.button-preview {
    font-size: 24px;
    padding:  13.5px 32.5px;
    line-height: 31.75px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}
.button-arrow {
    font-size: 24px;
    padding:  13px 59px;
    line-height: 31.75px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    background-image: url(../img/4_page-destinations/arrow-right.svg);
    background-repeat: no-repeat;
}
.button:hover, .button-preview:hover, .button-arrow:hover {
    color: #0D606F;
    border: 1px solid #0D606F;
    background-color: #fff;
}
.button-preview:hover {
    background-color: transparent;
}

/* PAGE-HEADER */

.bg-header {
    background-color: rgba(242, 120, 92, 0.7);
    max-width: 100%;
    height: 90px;
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}
.box-header {
    display: flex;
    max-width: 1220px;
    margin: 0 120px;
    justify-content: space-between;
    align-items: center;
}
.logo-header {
    display: block;
    background-image: url(../img/1_page-header/header-logo.png);
    width: 216px;
    height: 31px;
    margin: 25px 0 34px;
}
.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 35px 0 34px;
    padding: 0px;
}
.nav li {
    padding: 0 41px 0 2px;
}
.nav-item {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration-line: none;
}

/* PAGE-preview */

.page-preview h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    margin: 0;
    padding: 33px 0 14px;
}
.page-preview p {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 0;
}
.box-preview-user {
    position: relative;
}
.box-preview-user input {
    color: #F2785C;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    border: 0px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 33px 291px 35px 41px;
    margin-top: 45px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.box-preview-user .button-preview {
    position: absolute;
    top: 18px;
    right: 19px;
    bottom: 18px;
}
.box-preview-user input:focus, .box-preview-user .button-preview {
    outline: none;
}
.box-preview-user input::-webkit-input-placeholder {color: #F2785C;}
.box-preview-user input::-moz-placeholder          {color: #F2785C;}
.box-preview-user input:-moz-placeholder           {color: #F2785C;}
.box-preview-user input:-ms-input-placeholder      {color: #F2785C;}

/* PAGE-STEPS */

.box-steps {
    display: flex;
    justify-content: space-between;
}
.box-steps a {
    font-size: 20px;
    font-weight: 400;
    color: #0D606F;
    text-align: center;
    text-decoration-line: none;
}
.box-steps-item {
    text-decoration-line: none;
    padding: 6px 0 0 0;
}
.box-steps-item:nth-child(2) {
    padding: 6px 0 0 68px;
}
.box-icon {
    background-color: #F2785C;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 31px;
}
.steps-icon-1 {
    background-image: url(../img/3_page-steps/icon-velo.svg);
    background-size: 50px 45px;
}
.steps-icon-2 {
    background-image: url(../img/3_page-steps/icon-calendar.svg);
    background-size: 52px 52px;
}
.steps-icon-3 {
    background-image: url(../img/3_page-steps/icon-avia.svg);
    background-size: 60px 45px;
}

/* PAGE-DESTINATIONS */

.page-destinations {
    margin: 0;
    padding: 0;
}
.destinations-transition {
    padding: 0 0 894px 0;
}
.page-destinations .button-arrow {
    margin: 0 auto;
}

/* PAGE-STORIES */

.page-stories h2 {
    margin: 81px 0 40px 0;
    padding: 0;
}

.bg-stories-img {
    background-image: url(../img/5_page-stories/stories-bg.jpg);
    background-repeat: no-repeat;
    background-size: 1442px 1331px;
    margin: 0;
    padding: 0 0 60px 0;
}
.bg-stories-col {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 100%;
    height: 1270px;
    margin: 0;
    padding: 0;
}
.box-stories {
    display: flex;
    margin: 0 120px 0 120px;
}
.box-stories-item {
    position: relative;
    margin: 6.1px 0 6.7px 0;
    padding: 0;
}
.box-stories-item h3 {
    font-size: 35px;
    font-weight: 400;
    color: #0D606F;
    margin: 34px 0 25px 0;
    padding: 0;
}
.box-stories-item p, a {
    font-size: 20px;
    color: #0D606F;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
.box-stories-item a {
    font-weight: 700;
}
.box-text {
    margin-left: 440px;
}
.box-imag {
    display: block;
    border-radius: 16px;
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    margin: 32px auto;
}
.stories-img-1 {
    background-image: url(../img/5_page-stories/stories-1.jpg);
    background-repeat: no-repeat;
    position: absolute;
}
.stories-img-2 {
    background-image: url(../img/5_page-stories/stories-2.jpg);
    background-repeat: no-repeat;
    position: absolute;
}
.stories-img-3 {
    background-image: url(../img/5_page-stories/stories-3.jpg);
    background-repeat: no-repeat;
    position: absolute;
}
.stories-img-4 {
    background-image: url(../img/5_page-stories/stories-4.jpg);
    background-repeat: no-repeat;
    position: absolute;
}
.page-stories .button-arrow {
    margin: 48px auto;
}

/* PAGE-FOOTER */

.page-footer p {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 21.17px;
    text-align: center;
}

/* PAGES */

.page-header {
    background-image: url(../img/2_page-preview/preview-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 254px;
    margin-bottom: 81px;
}
.page-preview {
    margin: 0 120px;
    padding: 0px;
    width: 892px;
    height: 422px;
    color: #fff;
}
.page-steps {
    margin: 0 132px 98px 131px;
    padding: 0px;
}
.page-stories {
    margin: 0 auto;
}
.page-footer {
    margin-top: 20px;
}
