$color-heading: #F2785C;
$color-button: #0D606F;
$color-light: #ffffff;
$color-icon: #F2785C;
$color-background: rgba(242, 120, 92, 0.7);
$color-placeholder: rgba(255, 255, 255, 0.7);

$content-width: 1200px;