.page-destinations {
  text-align: center;
  padding-bottom: 88px;
}

.destinations__title {
  text-align: center;
  color: $color-heading;
  margin: 0 0 46px;
}

.destinations__button {
  margin: 0;
}

.destinations-slider {
  width: 1440px;
  height: 800px;
  overflow: hidden;
  margin-bottom: 94px;
}

.slides {
  display: flex;
  //position: relative;
  width: 2870px;
  height: 100%;
  margin-bottom: 20px;
}

.dest__slide {
  width: 800px;
  height: 800px;
  margin: 0 30px;
  transition: all .8s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.dest__slide img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.destinations-slider input {
  display: none;
}

#switch-1:checked ~ .slides .s1 {
  margin-left: calc(11% + 6px);
}

#switch-2:checked ~ .slides .s1 {
  margin-left: calc(-19% + 6px);
}

#switch-3:checked ~ .slides .s1 {
  margin-left: calc(-49% + 6px);
}

.navigation-bar {
  position: absolute;
  display: flex;
  margin: 0 0 40px;
  left: 50%;
  transform: translateX(-50%);
}

.navi__bar {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: $color-btn-second;
  border-radius: 50%;
  cursor: pointer;
  transition: all .4s ease;
  &:hover {
    background-color: $color-heading;
    border: 1px solid #000000;
  }
}

#switch-1:checked ~ .navigation-bar .navi__bar:nth-child(1),
#switch-2:checked ~ .navigation-bar .navi__bar:nth-child(2),
#switch-3:checked ~ .navigation-bar .navi__bar:nth-child(3) {
  background-color: $color-heading;
  border: 1px solid #000000;
}

.controls-btn {
  position: absolute;
  display: flex;
  margin: 0;
  width: 1440px;
  height: 68px;
}

.ctrl__btn {
  cursor: pointer;
  transition: opacity .2s ease-out;
  &:hover {
    opacity: 0.6;
  }
}

#switch-1:checked ~ .controls-btn .ctrl__btn:nth-child(3),
#switch-2:checked ~ .controls-btn .ctrl__btn:nth-child(1),
#switch-3:checked ~ .controls-btn .ctrl__btn:nth-child(2) {
  background: url("../../img/icons/prev.png") no-repeat;
  float: left;
  margin: 0 0 0 -84px;
  display: block;
  width: 68px;
  height: 68px;
}

#switch-1:checked ~ .controls-btn .ctrl__btn:nth-child(2),
#switch-2:checked ~ .controls-btn .ctrl__btn:nth-child(3),
#switch-3:checked ~ .controls-btn .ctrl__btn:nth-child(1) {
  background: url("../../img/icons/next.png") no-repeat;
  float: right;
  margin: 0 -84px 0 0;
  display: block;
  width: 68px;
  height: 68px;
}
