.page-destinations {
  text-align: center;
  padding-bottom: 80px;
}

.destinations__title {
  text-align: center;
  color: $color-heading;
  margin-bottom: 46px;
}

.destinations__button {
  display: inline-block;
}

.destinations-slider {
  width: 1440px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 40px;
}

.destinations-slider input {
  display: none;
}

.overflow {
  width: 1440px;
  overflow: hidden;
}

.inner {
  display: flex;
  width: 2870px;
  height: 800px;
}

.slides {
  display: flex;
  width: 1440px;
  height: 100%;
  margin-bottom: 24px;
}

.dest__slide {
  position: relative;
  display: block;
  width: 800px;
  float: left;
  margin: 0 30px;
  transition: all .8s cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.info {
  position: absolute;
  display: block;
  bottom: 40px;
  left: 15px;
  color: $color-light;
  @extend %font-primary;
  @include font ($size: 3.2rem, $height: 4.2rem);
}

.dest__slide img {
  width: 800px;
  height: 800px;
  border-radius: 16px;
}

label {
  cursor: pointer;
}

.controls-btn {
  margin-top: -29%;
  width: 100%;
  height: 50px;
}

.ctrl__btn {
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.3;
  &:hover {
    opacity: 0.8;
  }
}

.navigation-bar {
  display: flex;
  margin-top: 368px;
  justify-content: center;
}

.navi__bar {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 5px;
  background: $color-btn-second;
  cursor: pointer;
  &:hover {
    background-color: $color-heading;
    border: 1px solid $color-hamburger;
  }
}

.ctrl__btn, .navi__bar {
  transition: all .5s ease;
}

#switch-1:checked ~ .slides .s1 { margin-left: calc(11% + 6px); }
#switch-2:checked ~ .slides .s1 { margin-left: calc(-19% + 6px); }
#switch-3:checked ~ .slides .s1 { margin-left: calc(-49% + 6px); }

#switch-1:checked ~ .controls-btn .ctrl__btn:nth-child(4),
#switch-2:checked ~ .controls-btn .ctrl__btn:nth-child(1),
#switch-3:checked ~ .controls-btn .ctrl__btn:nth-child(2),
#switch-4:checked ~ .controls-btn .ctrl__btn:nth-child(3) {
  background: url("../sass/img/icons/prev-arrow.png") no-repeat;
  float: left;
  margin: 0;
  display: block;
}

#switch-1:checked ~ .controls-btn .ctrl__btn:nth-child(2),
#switch-2:checked ~ .controls-btn .ctrl__btn:nth-child(3),
#switch-3:checked ~ .controls-btn .ctrl__btn:nth-child(4),
#switch-4:checked ~ .controls-btn .ctrl__btn:nth-child(1) {
  background: url("../sass/img/icons/next-arrow.png") no-repeat;
  float: right;
  margin: 0;
  display: block;
}

#switch-1:checked ~ .navigation-bar .navi__bar:nth-child(1),
#switch-2:checked ~ .navigation-bar .navi__bar:nth-child(2),
#switch-3:checked ~ .navigation-bar .navi__bar:nth-child(3) {
  background-color: $color-heading;
  border: 1px solid #000000;
}
