.page-preview {
  padding: 32px 0 221px;
}

.preview__wrapper {
  display: flex;
}

.preview__title {
  color: $color-light;
  @extend %font-secondary;
  max-width: 892px;
  margin: 0 0 33px;
}

.preview__text {
  color: $color-light;
  margin: 0 0 46px;
  @extend %font-secondary;
  @include font ($size: 2.0rem, $height: 2.4rem,  $weight: 700, $style: italic);
}

.preview__form {
  position: relative;
}

.preview__form {
  input {
    display: flex;
    width: 100%;
    @extend %font-secondary;
    @include font ($size: 2.4rem, $height: 2.9rem,  $weight: 400, $style: italic);
    color: $color-heading;
    padding: 32px 291px 33px 41px;
    background-color: $color-placeholder;
    border-radius: 16px;
    border: none;
    outline: none;
    &::-webkit-input-placeholder {
      color: $color-heading;
    }
  }
}

.preview__form {
  button {
    @include font ($size: 2.4rem, $height: 3.2rem);
    position: absolute;
    margin: 0;
    top: 17px;
    right: 22px;
    bottom: 17px;
  }
}
