.page-steps {
  padding: 81px 0 76px;
}

.steps__wrapper {
  max-width: 1177px;
}
.steps__title {
  text-align: center;
  color: $color-heading;
  margin-bottom: 40px;
}

// Step block
.step {
  text-align: center;
}

.step__link {
  text-decoration-line: none;
}

.step:nth-child(1) {
  margin-right: 70px;
}

.step:nth-child(3) .step__link {
  padding-right: 317px;
}

.step__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.step__title {
  @extend %font-secondary;
  @include font ($size: 2.0rem, $height: 2.4rem, $weight: 400);
  color: $color-button;
  cursor: pointer;
}

