.page-steps {
  padding: 80px 0 160px;
}

.steps__wrapper {
  max-width: 1177px;
}
.steps__title {
  text-align: center;
  color: $color-heading;
  margin: 0 0 40px;
}

// Tool block
.step__icon {
  margin-bottom: 30px;
}

.step__title {
  margin-bottom: 16px;
}

.step__text {

}