.page-steps {
  padding: 80px 0 0;
}

.steps__wrapper {
  max-width: 1177px;
}
.steps__title {
  text-align: center;
  color: $color-heading;
  margin: 0 0 40px;
}

// Tool block
.step {
  text-align: center;
}

.step:nth-child(1) {
  margin: 0 35px 0 -35px;
}

.step__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.step__title {
  @extend %font-secondary;
  @include font ($size: 2.0rem, $height: 2.4rem, $weight: 400);
  color: $color-button;
  margin-bottom: 97px;
}

