html {
  font-size: 10px;
}

body {
  @extend %font-primary;
  @include font($size: 1.6rem, $height: 2.1rem);
}

h1 {
  @extend %font-secondary;
  @include font($size: 8.0rem, $height: 9.6rem, $weight: 700);
}

h2 {
  @extend %font-primary;
  @include font($size: 4.0rem, $height: 5.3rem);
}

h3 {
  @extend %font-secondary;
  @include font($size: 3.5rem, $height: 4.2rem, $weight: 400);
}