.bg {
  background-image: url("../../img/backgraounds/preview-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 299px;
}

.header {
  background-color: $color-background;
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
  padding: 25px 0 24px 0;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
