.navigation {
  display: flex;
  @include font ($size: 1.6rem, $height: 2.1rem);
}

.navigation__link {
  color: $color-light;
  list-style: none;
  padding: 0 42px;
  cursor: pointer;
  &:hover {
    color: $color-button;
    @extend %transition;
  }
}