.header__navigation {
  width: 527px;
  margin-left: -35px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  @include font ($size: 1.6rem, $height: 2.1rem);
}

.navigation__link a {
  color: $color-light;
  text-decoration-line: none;
  cursor: pointer;
  &:hover {
    color: $color-button;
    @extend %transition;
  }
}


